.page-wrapper {
  display: block;
}

.section-change-log {
  background-color: var(--white);
}

.padding-global {
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: var(--transparent);
}

@media screen and (max-width: 991px) {
  .padding-global {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.padding-global.menu {
  background-color: var(--transparent);
}

.padding-global.creation {
  padding: 3rem 4rem;
  background-color: var(--transparent);
}

@media screen and (max-width: 991px) {
  .padding-global.creation {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.creation {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.padding-global.about {
  background-color: var(--black);
}

.container-large {
  width: 100%;
  max-width: 76.5rem;
  margin-right: auto;
  margin-left: auto;
}

.padding-section-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-section-large.is-service {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large.is-service {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large.is-service {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.padding-section-large.bottom-padding-small {
  padding-bottom: 1.875rem;
}

.padding-section-large.gallery-3d {
  padding-top: 0rem;
}

@media screen and (max-width: 767px) {
  .uui-page-padding-5 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.uui-container-large-5 {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.uui-padding-vertical-xlarge-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 991px) {
  .uui-padding-vertical-xlarge-2 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .uui-padding-vertical-xlarge-2 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.uui-footer01_top-wrapper {
  align-items: start;
  grid-column-gap: 8vw;
  grid-row-gap: 1rem;
  grid-template-columns: 0.75fr auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .uui-footer01_top-wrapper {
    justify-items: center;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .uui-footer01_top-wrapper {
    grid-row-gap: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer01_top-wrapper {
    grid-row-gap: 48px;
  }
}

.uui-footer01_left-wrapper {
  display: flex;
  max-width: 32rem;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .uui-footer01_left-wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .uui-footer01_left-wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer01_left-wrapper {
    align-items: center;
  }
}

.uui-footer01_logo-link {
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .uui-footer01_logo-link {
    margin-bottom: 1.5rem;
    padding-left: 0px;
  }
}

.uui-logo_component-3 {
  display: flex;
  width: auto;
  height: 2rem;
  flex-wrap: nowrap;
}

.uui-logo_logomark-3 {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border: 0.1px solid #dae0e8;
  border-radius: 0.5rem;

  box-shadow: 0 1px 1px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.06), 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.10);
}

.uui-styleguide_logomark-bg-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 2rem;
  height: 2rem;

  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .uui-styleguide_logomark-bg-3 {
    background-image: url("https://uploads-ssl.webflow.com/65ae6f1a145b7954f56170cc/65afce72bb670e3d3a7ebfd1_untitled-ui-logomark.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.uui-logo_logomark-blur-3 {
  position: absolute;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  overflow: hidden;
  width: 100%;
  height: 50%;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.20);

  backdrop-filter: blur(3px);
}

.uui-logo_logomark-dot-3 {
  position: relative;
  z-index: 1;

  width: 50%;
  height: 50%;

  border-radius: 50%;

  background-image: linear-gradient(26.5deg, #6941c6, #53389e);
}

.uui-logo_logotype-3 {
  width: auto;
  height: 100%;
  flex: 0 0 auto;
}

.uui-logo_image-3 {
  display: none;
  width: auto;
  height: 100%;
  flex: 0 0 auto;
}

.uui-text-size-medium-3 {
  font-family: Inter;
  color: var(--neutral--black400);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: normal;
}

.uui-footer01_form-block {
  width: 100%;
  max-width: 35rem;
  margin-top: 2rem;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .uui-footer01_form-block {
    margin-top: 1.5rem;
  }
}

.uui-footer01_form {
  display: grid;
  margin-bottom: 0.75rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .uui-footer01_form {
    flex-direction: column;
    grid-row-gap: 12px;
    grid-template-columns: 1fr;
  }
}

.uui-form_input {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 0.5rem 0.875rem;

  border: 1px solid var(--grey-dedal);
  border-radius: 0.5rem;

  background-color: var(--untitledUiWhite-e3beb9c1);

  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05);

  transition: all 300ms ease;

  font-family: Inter;
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.uui-form_input:focus {
  border-color: var(--untitledUiPrimary300-b540dac6);
  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05), 0 0 0 4px var(--untitledUiPrimary100-35a3c723);
  color: var(--untitledUiGray900-f63dbb51);
}

.uui-form_input::placeholder {
  color: var(--untitledUiGray500-68f29e84);
}

.uui-form_input.text-area {
  overflow: auto;
  height: auto;
  min-height: 11.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.uui-form_input.select {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: var(--untitledUiGray900-f63dbb51);
}

.uui-button-3 {
  display: flex;
  padding: 0.625rem 1.125rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;

  border: 1px solid var(--untitledUiPrimary600-c514c1b4);
  border-radius: 0.5rem;

  background-color: var(--untitledUiPrimary600-c514c1b4);

  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05);

  transition: all 300ms ease;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--untitledUiWhite-e3beb9c1);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.uui-button-3:hover {
  border-color: var(--untitledUiPrimary700-da4f7fa3);
  background-color: var(--untitledUiPrimary700-da4f7fa3);
}

.uui-button-3:focus {
  background-color: var(--untitledUiPrimary600-c514c1b4);
  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05), 0 0 0 4px var(--untitledUiPrimary100-35a3c723);
}

@media screen and (max-width: 767px) {
  .uui-button-3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .uui-button-3:hover {
    border-color: var(--untitledUiPrimary600-c514c1b4);
    background-color: var(--untitledUiPrimary600-c514c1b4);
  }
}

.uui-button-3.is-button-small {
  padding: 0.5rem 1rem;
  grid-column-gap: 0.5rem;
}

.uui-text-size-small-3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--untitledUiGray600-10a0cd12);
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: normal;
}

.uui-text-size-small-3.text-color-gray500 {
  font-family: Inter;
  color: var(--combine-library--grey-800);
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 479px) {
  .uui-text-size-small-3.text-color-gray500 {
    display: flex;
    justify-content: center;
  }
}

.uui-text-style-link {
  transition: color 300ms ease;
  color: var(--yellow-dark);
  text-decoration: none;
}

.uui-text-style-link:hover {
  color: var(--yellow-dark);
  text-decoration: underline;
}

.success-message-2 {
  padding: 1.5rem;
  background-color: hsla(0, 0.00%, 95.69%, 1.00);
}

.error-message-2 {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.uui-footer01_menu-wrapper {
  align-items: start;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .uui-footer01_menu-wrapper {
    grid-column-gap: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer01_menu-wrapper {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }
}

.uui-footer01_link-list {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .uui-footer01_link-list {
    align-items: center;
  }
}

.uui-footer01_link-list-heading {
  margin-bottom: 1rem;

  font-family: Inter;
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: normal;
}

.uui-footer01_link {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0.5rem;

  transition: all 300ms ease;

  font-family: Inter;
  color: var(--neutral--black400);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;

  cursor: pointer;
}

.uui-footer01_link:hover {
  color: var(--yellow-dark);
}

.uui-footer01_link:global(.w--current) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;

  color: var(--yellow-dark);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .uui-footer01_link:hover {
    color: var(--untitledUiGray500-68f29e84);
  }
}

.uui-badge-small-success-2 {
  display: flex;
  padding: 0.125rem 0.5rem;
  align-items: center;
  grid-column-gap: 0.25rem;

  border-radius: 10rem;

  background-color: var(--untitledUiSuccess50-9177f7a8);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--untitledUiSuccess700-1c4c81d0);
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;

  mix-blend-mode: multiply;
}

@media screen and (max-width: 767px) {
  .uui-badge-small-success-2 {
    padding: 0.125rem 0.5rem;
  }
}

.uui-footer01_social-link {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  flex: 0 auto;

  transition: all 300ms ease;

  font-family: Inter;
  color: var(--neutral--black400);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;

  cursor: pointer;
}

.uui-footer01_social-link:hover {
  color: var(--yellow-dark);
}

@media screen and (max-width: 767px) {
  .uui-footer01_social-link:hover {
    color: var(--untitledUiGray500-68f29e84);
  }
}

.uui-footer01_social-icon {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  align-items: center;

  color: var(--grey-dedal);
}

.uui-footer01_social-icon:hover {
  color: var(--yellow-dark);
}

.uui-footer01_bottom-wrapper {
  display: flex;
  margin-top: 2rem;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--neutral--black400);
}

@media screen and (max-width: 767px) {
  .uui-footer01_bottom-wrapper {
    margin-top: 3rem;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer01_bottom-wrapper {
    align-items: center;
  }
}

.uui-footer01_legal-list {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

@media screen and (max-width: 767px) {
  .uui-footer01_legal-list {
    margin-bottom: 1rem;
  }
}

.uui-footer01_legal-link {
  transition: all 300ms ease;

  font-family: Inter;
  color: var(--combine-library--grey-800);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;

  cursor: pointer;
}

.uui-footer01_legal-link:hover {
  color: var(--yellow-dark);
  text-decoration: none;
}

.uui-footer01_legal-link:active {
  color: var(--yellow-dark);
}

.uui-footer01_legal-link:focus {
  color: var(--grey-dedal);
}

.uui-footer01_legal-link:visited {
  color: var(--grey-dedal);
}

@media screen and (max-width: 767px) {
  .uui-footer01_legal-link:hover {
    color: var(--untitledUiGray400-b339bef7);
  }
}