.padding-global {
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: var(--transparent);
}

@media screen and (max-width: 991px) {
  .padding-global {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.padding-global.menu {
  background-color: var(--transparent);
}

.padding-global.creation {
  padding: 3rem 4rem;
  background-color: var(--transparent);
}

@media screen and (max-width: 991px) {
  .padding-global.creation {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.creation {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.padding-global.about {
  background-color: var(--black);
}