/*
@tailwind base;

*/
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-26df671d: white;
  --black-91247898: black;
  --untitledUiGray600-10a0cd12: #475467;
  --untitledUiGray500-68f29e84: #667085;
  --untitledUiGray400-b339bef7: hsla(217.77777777777777, 15.08%, 64.90%, 1.00);
  --untitledUiGray200-bad2ea62: hsla(219.99999999999983, 16.67%, 92.94%, 1.00);
  --untitledUiPrimary700-da4f7fa3: #6941c6;
  --untitledUiPrimary800-ddf4f85f: #53389e;
  --untitledUiSuccess50-9177f7a8: #ecfdf3;
  --untitledUiSuccess700-1c4c81d0: #027a48;
  --untitledUiGray50-8a511359: hsla(210, 20.00%, 98.04%, 1.00);
  --untitledUiPrimary600-c514c1b4: #7f56d9;
  --untitledUiWhite-e3beb9c1: hsla(0, 0.00%, 100.00%, 1.00);
  --untitledUiPrimary100-35a3c723: #f4ebff;
  --untitledUiGray300-51e0117e: hsla(216.9230769230769, 16.05%, 84.12%, 1.00);
  --untitledUiGray700-d4f37b50: #344054;
  --untitledUiGray800-0a1a9f61: #1d2939;
  --untitledUiGray100-4a47ec41: hsla(215.9999999999998, 23.81%, 95.88%, 1.00);
  --untitledUiGray900-f63dbb51: #101828;
  --combineLibraryGrey600-0e360e02: hsla(218.82352941176472, 8.21%, 40.59%, 1.00);
  --combineLibraryGrey800-c0ad9ad1: hsla(215.2941176470588, 32.15%, 18.16%, 1.00);
  --combineLibraryWhite-4f83e1a7: hsla(0, 0.00%, 100.00%, 1.00);
  --combineLibraryWarning400-69759a07: hsla(36.069364161849705, 92.51%, 63.33%, 1.00);
  --combineLibrarySecondary600-7a0cb4d3: hsla(189.94818652849744, 100.00%, 37.84%, 1.00);
  --combineLibraryPrimary600-d08fbb46: hsla(243.72670807453414, 92.00%, 65.69%, 1.00);
  --untitledUiPrimary300-b540dac6: #d6bbfb;
  --untitledUiPrimary50-a4451441: #f9f5ff;
  --neutral--black-800: #010100;
  --neutral--black700: #060606;
  --neutral--black600: #1e1e1e;
  --neutral--black500: #070707;
  --neutral--black400: #141414;
  --yellow-light: #ffff95;
  --neutral--white-200: #fefef4;
  --neutral--white300: #cfcfcc;
  --black: black;
  --white: white;
  --stoke: #1a2601;
  --white-2: white;
  --black-2: black;
  --grey-dedal: #c7c7c7;
  --green-light-900: hsla(79.37888198757764, 89.02%, 63.57%, 1.00);
  --transparent: hsla(0, 0.00%, 0.00%, 0.00);
  --blue-dark: hsla(204, 19.23%, 10.20%, 1.00);
  --yellow-dark: #ddac17;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--success50: #ecfdf3;
  --untitled-ui--gray500: #667085;
  --untitled-ui--success700: #027a48;
  --untitled-ui--primary800: #53389e;
  --untitled-ui--gray400: #98a2b3;
  --untitled-ui--gray50-2: #f9fafb;
  --dark-gold-transparency: hsla(51.50684931506849, 92.41%, 46.47%, 0.50);
  --untitled-ui--white: white;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray900: #101828;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--gray700: #344054;
  --untitled-ui--primary600: #7f56d9;
  --untitled-ui--gray100: #f2f4f7;
  --combine-library--grey-800: #1f2c3d;
  --combine-library--white: white;
  --combine-library--grey-600: #5f6570;
  --combine-library--warning-400: #f8b34b;
  --combine-library--secondary-600: #00a1c1;
  --combine-library--primary-600: #6157f8;
  --untitled-ui--primary300: #d6bbfb;
  --untitled-ui--primary50: #f9f5ff;
  --black-menu: rgba(0, 0, 0, 0.34);
  --grey-dark-dedal: #595959;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--grey-dark-dedal);
  font-family: Inter;
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
}

div, p, a {
  font-family: Inter;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-block-6.w--current {
  color: var(--yellow-dark);
}

.text-block-6 {
  display: flex;
  padding: 5px;
  align-items: center;
  writing-mode: horizontal-tb !important;
  white-space: nowrap !important;
  font-family: Inter;
  color: var(--white);
  font-weight: 300;
}

.navbar-gallery {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;

  background-color: var(--black);

  color: var(--yellow-dark);
}

.html-embed-3.active {
  color: var(--yellow-dark);
}

/*-------------------- DEV LINK --------------------*/